.signup-background {
  background-image: url('../assests/images/login.jpg'); /* Set the path to your image */
  background-size: cover; /* Ensures the image covers the container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background in place during scroll */
  height: 100vh; /* Makes the div take up the full viewport height */
  display: flex;
  justify-content: center; /* Centers the form horizontally */
  align-items: center; /* Centers the form vertically */
}
